<footer class='footer'>
  <nav>
  	<small>
  	  <a href="http://www.ana.co.jp">ANAホームページ</a>
  	  念のため
  	</small>
    <ul>
      <li><%= link_to "コンタクト",  contact_path %></li>
 	  <li><%= link_to "私たちについて", about_path %></li>
	</ul>
  </nav>
</footer>